<html>
<head>
    <title>Table Test</title>
</head>

<body>
    <h1>Linux News</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>

        <tbody>
            {% for i in titlelinux %}
            <tr>    
                <td><a href="{{ linkandroid[loop.index0] }}">{{ i }}</a></td>
                <td>{{ authorlinux[loop.index0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Open-Source News</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>

        <tbody>
            {% for i in titleos %}
            <tr>    
                <td><a href="{{ linkandroid[loop.index0] }}">{{ i }}</a></td>
                <td>{{ authoros[loop.index0] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Android News</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>

        <tbody>
            {% for i in titleandroid %}
            <tr>    
                <td><a href="{{ linkandroid[loop.index0] }}">{{ i }}</a></td>
                <td>{{ authorandroid[loop.index0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>